
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Produse valabile</h5>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">

            <div *ngFor="let product of products"
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                <button type="button" class="btn btn-danger btn-round" (click)="handleDelete(product, 'Ai sters cu succes item-ul!')">Sterge</button>
                <img src="{{product.iconUrl}}">
                <p>{{ product.name }}</p>
                <p>Cantitate disponibila: {{ product.quantity }}</p>
                <p>Pret: {{ product.price }}</p>
                <button type="button" class="btn btn-default btn-round" (click)="handleSubtract(product, 'Ai redus cu succes un item!')">Reduce</button>
                <button type="button" class="btn btn-default btn-round" (click)="handleAdd(product, 'Ai adaugat cu succes un item!')">Adauga</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
